#imagebody
{
	width:100%;

}
.lnksidebar
{
	padding: 10px;
}
.lnk{
  text-decoration: none;
  color:white;
  padding-left: 50px;

}
.lnksidebar{
  text-decoration: none;
  color:black;
  padding-left: 50px;

}
.sidebar
{


	background-color: #d7d7d7;

}
table, th, td {


}

.hlink{
  text-decoration: none;
  color:black;
  padding-left: 50px;

}
.copylink
{

  color:white;
   text-align: center;
   height: 50px;

}
table #header
{
   background-color: #fff9c2;
}
table #footer
{
   background-color: #d77145;
   color:white;
   text-align: center;
}
 table #image
 {

 }
 p {
  background-color: none;
  width: 300px;
  border: 1px solid #ededed;
  padding: 50px;
  margin-right:20px;
}
