.button
{
	background-color:  #bb4637;
	color: white;
	border:none;
	height: 35px;

}
#imagebody
{
width:100%;
padding-top: 20px
}

.smallimage
{
	width:25%;
}
#content
{
	width:32%;
	border-width:0 
}
table, th, td {


}
.lnk{
  text-decoration: none;
  color:white;
  padding-left: 50px;

}
.hlink{
  text-decoration: none;
  color:black;
  padding-left: 50px;

}
.copylink
{

  color:white;
   text-align: center;
   height: 50px;

}
table #header
{
   background-color: #fff9c2;
}
table #footer
{
   background-color: #d77145;
   color:white;
   text-align: center;
}

 p {
  background-color: none;
  width: 300px;
  border: 1px solid #ededed;
  padding: 50px;
  margin-right:20px;
}