
.sidebar
{


	background-color: #d7d7d7;

}
.lnksidebar{
  text-decoration: none;
  color:black;
  padding-left: 50px;


}
#imagebody
{
	width:100%;


	
}
#formcontent
{
	text-align: center;
	padding-left: 10px;


}

.lnk{
  text-decoration: none;
  color:white;
  padding-left: 50px;

}
.button
{
	background-color:  #bb4637;
	color: white;
}
.textbox
{
	width:100%;
	height:35px;
	border-color: 1px solid gray;

}
.textboxm
{
	width:100%;
	height:120px;
	border-color: 1px solid gray;

}
.hlink{
  text-decoration: none;
  color:black;
  padding-left: 50px;

}
.copylink
{

  color:white;
   text-align: center;
   height: 50px;

}
table #header
{
   background-color: #fff9c2;
}
table #footer
{
   background-color: #d77145;
   color:white;
   text-align: center;
}
 table #image
 {

 }
 p {
  background-color: none;
  width: 300px;
  border: 1px solid #ededed;
  padding: 50px;
  margin-right:20px;
}